.floating-menu{
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  width: 40%;
  top:20%;
  z-index: 999999;
}

#menu-responsive{
  width:40px;
  height:40px;
  border:2px solid #ffffff;
  border-radius:50%;
  line-height:5px;
  text-align:center;
  margin:0 auto;
  position:fixed;
  top:10%;
  left:50%;
  transform: translate(-50%,-10%);
  z-index: 11;
  line-height: 40px;
  text-decoration:none;
  color:#fff;
  font-size:15px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  top: 31.5%;
  left: 50%;
  z-index: 7;
  display: none;
  -webkit-transform: translate(-50%,-694%);
  -moz-transform: translate(-50%,-694%);
  -ms-transform: translate(-50%,-694%);
  -o-transform: translate(-50%,-694%);
  transform: translate(-50%,-694%);
}

#menu-primary{
  padding:0;
  list-style: none;
  margin:-400px 0;
  background: #ffffff;
  z-index: 9;
  border-radius: 10px; 
  opacity: 0;
  li{
    border-bottom:1px solid #cccccc;
    
    &:first-child{
      border-top-left-radius:10px;
      border-top-right-radius:10px;
    }
    
    &:last-child{
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
      border-bottom:0;
    }
    
    a{
      text-decoration: none;
      color:#770E77;
      text-transform: uppercase;
      display: block;
      font-family: 'Helvetica Neue';
      padding:10px;
    }

    &:hover{
      background: #770E77;
      a{
        color:#ffffff;
      }
    }
  }
}

.overlay-page{
  position: fixed;
  background: rgba(119,14,119,0.6);
  z-index: 8;
  width: 100%;
  /*display: none;*/
  height: 100%;
}

.title{
  font-family:'Helvetica Neue';
  color:#fff;
  position:fixed;
  z-index:12;
  left:50%;
  top:5%;
  transform:translate(-50%);
}@charset "utf-8";
/* CSS Document */

